# Data Engineering

## Course Outline
* [Data Engineering](#Data-Engineering)
    * [Data Pipelines](#Data-pipeline)
    * ETL (Extract Transform Load) Pipelines
* NLP Pipelines
    * Text Processing
    * Modeling
* Machine Learning Pipelines
    * Scikit-learn pipelines
    * Feature Union
    * Grid Search
* Data Engineering Project
    * Classify disaster response messages
    * Skills: data pipelines, NLP pipelines, machine learning pipelines, supervised learning

## Data Engineering

### Data pipeline

Data pipeline is a generic term for moving data from one place to another. For example, it could be moving data from one server to another server.

#### ETL

An ETL pipeline is a specific kind of data pipeline and very common. ETL stands for Extract, Transform, Load. Imagine that you have a database containing web log data. Each entry contains the IP address of a user, a timestamp, and the link that the user clicked.

What if your company wanted to run an analysis of links clicked by city and by day? You would need another data set that maps IP address to a city, and you would also need to extract the day from the timestamp. With an ETL pipeline, you could run code once per day that would extract the previous day's log data, map IP address to city, aggregate link clicks by city, and then load these results into a new database. That way, a data analyst or scientist would have access to a table of log data by city and day. That is more convenient than always having to run the same complex data transformations on the raw web log data.

Before cloud computing, businesses stored their data on large, expensive, private servers. Running queries on large data sets, like raw web log data, could be expensive both economically and in terms of time. But data analysts might need to query a database multiple times even in the same day; hence, pre-aggregating the data with an ETL pipeline makes sense.

#### ELT
ELT (Extract, Load, Transform) pipelines have gained traction since the advent of cloud computing. Cloud computing has lowered the cost of storing data and running queries on large, raw data sets. Many of these cloud services, like Amazon Redshift, Google BigQuery, or IBM Db2 can be queried using SQL or a SQL-like language. With these tools, the data gets extracted, then loaded directly, and finally transformed at the end of the pipeline.

However, ETL pipelines are still used even with these cloud tools. Oftentimes, it still makes sense to run ETL pipelines and store data in a more readable or intuitive format. This can help data analysts and scientists work more efficiently as well as help an organization become more data driven.

## Outline of the Lesson
* [Extract](#Extract)
    * csv files
    * json files
    * APIs
* Transform
    * combining data from different sources
    * data cleaning
    * data types
    * parsing dates
    * file encodings
    * missing data
    * duplicate data
    * dummy variables
    * remove outliers
    * scaling features
    * engineering features
* Load
    * send the transformed data to a database
* ETL Pipeline
    * code an ETL pipeline

### Extract

This lesson uses data from the World Bank. The data comes from two sources:

[World Bank Indicator Data](https://data.worldbank.org/indicator) - This data contains socio-economic indicators for countries around the world. A few example indicators include population, arable land, and central government debt.

[World Bank Project Data](https://datacatalog.worldbank.org/dataset/world-bank-projects-operations) - This data set contains information about World Bank project lending since 1947.
Both of these data sets are available in different formats including as a csv file, json, or xml. You can download the csv directly or you can use the World Bank APIs to extract data from the World Bank's servers. You'll be doing both in this lesson.

The end goal is to clean these data sets and bring them together into one table. As you'll see, it's not as easy as one might hope. By the end of the lesson, you'll have written an ETL pipeline to extract, transform, and load this data into a new database.

The goal of the lesson is to combine these data sets together so that you can run a linear regression model predicting World Bank Project total costs. You will not actually build the model; instead, you will get the data ready so that a data analyst or data scientist could more easily build the model.

#### Exercise: CSV

The first step in an ETL pipeline is extraction. Data comes in all types of different formats, and you'll practice extracting data from csv files, JSON files, XML files, SQL databases, and the web.

In this first exercise, you'll practice extracting data from a CSV file and then navigating through the results. You'll see that extracting data is not always a straight-forward process.

In [1]:
import pandas as pd

In [4]:
df_projects = pd.read_csv('./data/projects_data.csv')

/Users/yanglyu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Did you get a DType warning? Read about what this warning is in the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.errors.DtypeWarning.html).

Pandas tries to figure out programatically the data type of each column (integer, float, boolean, string). In this case, pandas could not automatically figure out the data type. That is because some columns have more than one possible data types. In other words, this data is messy.

You can use the dtype option to specify the data type of each column. Because there are so many columns in this data set, you can set all columns to be strings at least for now.

Try reading in the data set again using the read_csv() method. This time, also use the option dtype=str so that pandas treats everything like a string.

In [5]:
# TODO: Read in the projects_data.csv file using the read_csv method 
# and dtype = str option
df_projects = pd.read_csv('./data/projects_data.csv', dtype = str)

In [6]:
df_projects.head()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN

In [50]:
def null_percentage(df, axis = 0, show_nrows = 5):
    '''
    Calculates percetnage of missing in each columns
    
    Args: 
        dataframe
        axis: 0 for rowwise, 1 for columnwise
        show_nrows: number of rows to show
    
    Return: 
        dataframe
    '''
    return round((df.isnull().sum(axis = axis) * 100 
                  / df.shape[0]).sort_values(ascending = False))[:show_nrows]

In [55]:
null_percentage(df_projects)

Unnamed: 56     100.0
mjtheme2name    100.0
mjsector3       100.0
mjsector2       100.0
mjsector1       100.0
dtype: float64

Many columns are filled with completely missing (NaN) values, which could be removed from the data frame

In [56]:
df_pop = pd.read_csv('./data/population_data.csv')

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 63

There is something wrong with this data set. You should see an error that says "expected 3 fields in line 5, saw 63". What might have happened? Try printing out the first few lines of the data file to see what the issue might be.

In [30]:
with open('./data/population_data.csv') as f:
    for _ in range(5):
        line = f.readline()
        print('line:', _ + 1, line)

line: 1 ﻿"Data Source","World Development Indicators",

line: 2

line: 3 "Last Updated Date","2018-06-28",

line: 4

line: 5 "Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017",

* It appears the first four lines are not properly formatted. We will use Pandas to read the dataset by skipping the first four rows

In [58]:
df_pop = pd.read_csv('./data/population_data.csv', skiprows=4)

In [59]:
null_percentage(df_pop, axis = 0)

Unnamed: 62    100.0
1973             2.0
1985             2.0
1984             2.0
1983             2.0
dtype: float64

* drop `Unnamed: 62` from the dataframe

In [60]:
df_pop = df_pop.drop('Unnamed: 62', axis = 1)

In [61]:
null_percentage(df_pop, axis = 0)

1986    2.0
1973    2.0
1983    2.0
1987    2.0
1988    2.0
dtype: float64

#### Exercise: JSON and XML

[Back to top](#Data-Engineering)